@import 'variables';

// calc =======================
$ratio: 1 / $root-font-size; // default 0.1
@function pix-to-rem($Number) {
  $computed: round($Number * $ratio * 1000) / 1000;
  @return #{$computed}rem;
}

// screen size ======================
@function screens($key) {
  @return map-get($screens, $key);
}

// color =======================
@function colors($key) {
  @return map-get($colors, $key);
}

// fonts =======================
@function fonts($key) {
  @return map-get($fonts, $key);
}

@function typeFamily($key) {
  @return map-get($type-family, $key);
}

// Like a Modular Scale =======================
@function typeScale($key) {
  @return map-get($type-scale, $key);
}

@function typeWeight($key) {
  @return map-get($type-weight, $key);
}
