// Library =====================================
@import 'destyle.css';

// Original Utils ==============================
@import 'variables';
@import 'mixins';
@import 'functions';

// Style Instance ==============================
html {
  color: colors('font');
  background-color: colors('background');
  font: {
    family: typefamily('normal');
    feature-settings: fonts('kerning');
    size: #{$root-font-size}px;
    weight: fonts('normal');
  }
}

// animation ===============================
// SEE: https://jp.vuejs.org/v2/guide/transitions.html#トランジションクラス
// SEE: https://blogs.adobe.com/japan/cc-web-ui-ux-animation-principles-tips-tricks-best-practices/

// Enter
.v-enter {
  opacity: 0;
}
.v-enter-to {
  opacity: 1;
}
.v-enter-active {
  $out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);

  transition: opacity 1s $out-cubic;
}

// Leave
.v-leave {
  opacity: 1;
}
.v-leave-to {
  opacity: 0;
}
.v-leave-active {
  $in-cubic: cubic-bezier(0.55, 0.06, 0.68, 0.19);

  transition: opacity 2s $in-cubic;
}
