// Default FontSize
// root em = 1rem = 10px
$rootFontSize: 10;

// screen size ==============================
// ref: https://hashimotosan.hatenablog.jp/entry/2019/05/28/164834
$screens: (
  "extraLarge": 1366px,
  "large": 960px,
  "small": 560px,
);

// Media Query List ==============================
$mql-mobile:
  "(max-width: #{map-get($screens, 'small')})";

$mql-tablet:
  "(min-width: #{map-get($screens, 'small') + 1px})"
  "and (max-width: #{map-get($screens, 'large')})";

$mql-desktop:
  "(min-width: #{map-get($screens, 'large') + 1px})";

// color ====================================
$_white: whitesmoke;
$_black: black;
$_fonts: #333;
$colors: (
  "white": rgba($_white, 1),
  "whiteAlpha": rgba($_white, 0.4),
  "black": rgba($_black, 1),
  "green": rgba(#3b8070, 1),
  "background": rgba($_white, 1),
  "accent": rgba(blueviolet, 1),
  "inverted": rgba(#35495e, 1),
  "font": rgba($_fonts, 1),
  "fontSub": rgba($_fonts, 0.6),
);

// fonts ====================================
$fonts: (
  "color": #{map-get($colors, 'font')},
  "normal": 400,
  "bold": 600, // iOS激太り対策
  "extraBold": 900,
  "kerning": 'palt',
  "space": 0.1em,
  "lineHeight": 1.5,
);

$TypeFamily: (
  "normal": #{
    YakuHanJP, 'Noto Sans JP',
    '-apple-system', BlinkMacSystemFont, 'Segoe UI',
    'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
    Arial, Meiryo, sans-serif
  },
  "number": #{ Gelasio, serif },
);

// Like a Modular Scale ========================
@function _PixToRem($Number) {
  $_ratio: 1 / $rootFontSize; // default 0.1
  $_computed: round($Number * $_ratio * 1000) / 1000;
  @return #{$_computed}rem;
}

$TypeScale: (
  "extra": _PixToRem(177),
  "h1": _PixToRem(110),
  "h2": _PixToRem(68),
  "h3": _PixToRem(42),
  "h4": _PixToRem(26),
  "subtitle": _PixToRem(26),
  "body": _PixToRem(16),
  "caption": _PixToRem(10),
);

$TypeWeight: (
  "extra": 900,
  "h1": 400,
  "h2": 400,
  "h3": 600,
  "h4": 600,
  "subtitle": 600,
  "body": 400,
  "caption": 400,
);
